Header unset Upgrade
DirectoryIndex
RewriteEngine On
RewriteBase /

# Allow .well-known even inside /public
# RewriteRule ^(?:public/)?\.well-known/ - [L]

# Exclude gitautodeploy.php from being redirected to Next.js
RewriteRule ^(gitautodeploy|run_deploy)\.php$ - [L]

# Exclude run_deploy.php from being redirected to Next.js
RewriteCond %{REQUEST_URI} !^/run_deploy\.php$

RewriteRule ^qr/([^/]+)$ /?qr=$1 [L,R=301]

# Redirect traffic to your port 3005
RewriteRule ^(.*)?$ http://localhost:3009/$1 [P,L]
